.profile__edit-icon {
	opacity: 0;
	width: 26px;
	height: 26px;
	inset-block-start: 79px;
	inset-inline-start: 44px;
	position: absolute;
} 

.profile__edit-icon:hover {
  opacity: 1;
}

.profile__edit-icon:hover + .profile__image:hover {
	background-color:#000000CC;
  opacity: 0.4;
}


